/*	Layout style sheets should ideally contain no colors	All colors should be in the individual themes*/
.lexicon {
   -webkit-column-count: 5; /* Chrome, Safari, Opera */
   -moz-column-count:5; /* Firefox */
   column-count: 5;
}

.preview-box {
   background-color: #21252b;
   flex: 1 1 auto;
   min-height: 300px;
}

.row {
   display:flex;
}

.newWord.input-headline {
   font-family: 'Roboto Slab', serif;
   color: #222; //ddd
   font-size: 16pt;
   padding-right: 20px;
}

.newWord.col_left {
   width: 80%;
   height: 100px;
   background-color: #ccc;
   float: left;
   padding-bottom: 100px;
}
.newWord.col_right {
   width: 20%;
   height: 100px;
   background-color: #0f0;
   float: right;
}   
.newWord.similarLexemeCols {
   min-height: 100px;
   width: 100%;
   background-color: #ddd;
}
.newWord.similarLexemeCol {
   display: inline;
   min-height: 100px;
   width: 30%;
   background-color: #fff;
}
